.env

*.bin
*.pth
*.ckpt
*.safetensors

/experiments/
*/checkpoints/
*/outputs/
*/logs/
*/merged_16bit/
*.zip

__pycache__/
*.py[cod]
*.log
*.tmp
*.swp
.DS_Store

*.csv
*.json
*.parquet
*.tsv
*.h5
*.sqlite
